<center>
<img src="../../img/ods_stickers.jpg" />
    
## [mlcourse.ai](mlcourse.ai) â€“ Open Machine Learning Course 
Author: Arina Lopukhova (@erynn). Edited by [Yury Kashnitskiy](https://yorko.github.io) (@yorko). This material is subject to the terms and conditions of the [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/) license. Free use is permitted for any non-commercial purpose.

<h1><center>Assignment #1. Fall 2018</center></h1>
<h2><center>Exploratory data analysis of Olympic games with Pandas</center></h2>

__There are ten questions about [120 years of Olympic history: athletes and results](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results/version/2) dataset in this task. Your task is to fill in the missing Python code and choose answers in [this web-form](https://docs.google.com/forms/d/179HYvlF_0x435CWdu2aOtR9a3flh0YCQXXNXhXaKw2M).__

Download the file `athlete_events.csv` from [Kaggle page](https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results). The dataset has the following features (copied from Kaggle):

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [3]:
import pandas as pd

In [4]:
# Change the path to the dataset file if needed. 
PATH = 'athlete_events.csv'

In [5]:
data = pd.read_csv(PATH)
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

__1. How old were the youngest male and female participants of the 1996 Olympics?__

- 16 and 15
- 14 and 12 
- 16 and 12
- 13 and 11

In [81]:
# You code here 
d=data[['Sex','Year','Age']]
e=d[d['Sex']=='F']
f=e[e['Year']==1996]
f['Age'].sort_values(ascending=True)

93850     12.0
79034     13.0
78869     13.0
172477    13.0
33106     13.0
33105     13.0
170653    13.0
79033     13.0
170652    13.0
241510    14.0
21261     14.0
21260     14.0
160924    14.0
160923    14.0
89770     14.0
160921    14.0
183917    14.0
160920    14.0
160919    14.0
21259     14.0
21258     14.0
21257     14.0
146483    14.0
254040    14.0
160922    14.0
183916    14.0
107947    14.0
107946    14.0
8481      14.0
8480      14.0
          ...
216410    43.0
216409    43.0
33882     44.0
18595     44.0
130269    44.0
18596     44.0
15266     45.0
254315    45.0
15265     45.0
133167    45.0
254314    45.0
15402     47.0
15401     47.0
187008    48.0
262917    48.0
231058    49.0
231059    49.0
50224     50.0
39786     50.0
39785     50.0
50225     50.0
179178    51.0
50715     51.0
179177    51.0
66458     54.0
66457     54.0
88528     58.0
88527     58.0
162717     NaN
162718     NaN
Name: Age, Length: 5008, dtype: float64

__2. What was the percentage of male gymnasts among all the male participants of the 2000 Olympics? Round the answer to the first decimal.__

*Hint:* here and further if needed drop duplicated sportsmen to count only unique ones. 

- 0.2
- 1.5 
- 2.5
- 7.7

In [198]:
d=data.drop_duplicates(subset=['Name'])
e=d[d['Year']==2000]
f=e[e['Sex']=='M']
total=f['Sex'].value_counts()[0]
g=f[f['Sport']=='Gymnastics']
gymnasts=g['Sex'].value_counts()[0]
percent=gymnasts/total
percent*100

1.4622641509433962

__3. What are the mean and standard deviation of height for female basketball players participated in the 2000 Olympics? Round the answer to the first decimal.__

- 178.5 and 7.2
- 179.4 and 10
- 180.7 and 6.7
- 182.4 and 9.1

In [209]:
d=data.drop_duplicates(subset=['Name'])
e=d[d['Year']==2000]
f=e[e['Sex']=='F']
g=f[f['Sport']=='Basketball']
g['Height'].mean(),g['Height'].std()

(181.90322580645162, 9.232579973080483)

__4. Find a sportsperson participated in the 2002 Olympics, with the highest weight among other participants of the same Olympics. What sport did he or she do?__

- Judo
- Bobsleigh 
- Weightlifting
- Boxing

In [226]:
e=d[d['Year']==2002]
# e.groupby(['Sport','Weight'])['Weight'].count()
e[['Sport','Weight']].sort_values('Weight',ascending=False).iloc[:3,0:]

             Sport  Weight
129595   Bobsleigh   116.0
60488    Bobsleigh   113.0
128125  Ice Hockey   113.0

__5. How many times did Pawe Abratkiewicz participate in the Olympics held in different years?__

- 0
- 1 
- 2
- 3

In [232]:
d=data[data.duplicated(subset=['Name'])]
e=d[d['Name']=='Pawe Abratkiewicz']
e

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
998,562,Pawe Abratkiewicz,M,21.0,183.0,84.0,Poland,POL,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
999,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,Speed Skating Men's 500 metres,NaN
1000,562,Pawe Abratkiewicz,M,27.0,183.0,84.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Speed Skating,"Speed Skating Men's 1,000 metres",NaN
1001,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,Speed Skating Men's 500 metres,NaN
1002,562,Pawe Abratkiewicz,M,31.0,183.0,84.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Speed Skating,"Speed Skating Men's 1,000 metres",NaN

__6. How many silver medals in tennis did Australia win at the 2000 Olympics?__

- 0
- 1 
- 2 
- 3

In [238]:
d=data[data['Year']==2000]
e=d[d['Team']=='Australia']
f=e[e['Sport']=='Tennis']
f['Medal'].value_counts()

Silver    2
Name: Medal, dtype: int64

__7. Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? Do not consider NaN values in _Medal_ column.__ 

- Yes 
- No

In [254]:
d=data[data['Year']==2016]
e=d[d['Team']=='Serbia']

f=d[d['Team']=='Switzerland']
'Serbia :',e['Medal'].value_counts().sum() ,'Switz :',f['Medal'].value_counts().sum()

('Serbia :', 54, 'Switz :', 11)

__8. What age category did the fewest and the most participants of the 2014 Olympics belong to?__
- [45-55] and [25-35) correspondingly
- [45-55] and [15-25) correspondingly
- [35-45] and [25-35) correspondingly
- [45-55] and [35-45) correspondingly

In [262]:
d=data[data['Year']==2014]
d['ageband'] = pd.qcut(d['Age'], 2)
d['ageband'].value_counts()

/home/royal/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

(14.999, 26.0]    2806
(26.0, 55.0]      2085
Name: ageband, dtype: int64

__9. Is it true that there were Summer Olympics held in Lake Placid? Is it true that there were Winter Olympics held in Sankt Moritz?__

- Yes, Yes
- Yes, No
- No, Yes 
- No, No

In [279]:
d=data[['Season','City']]
a=d['City']=='Lake Placid'
b=d['Season']=='Summer'
d[a & b]

Empty DataFrame
Columns: [Season, City]
Index: []

In [280]:
d=data[['Season','City']]
a=d['City']=='Sankt Moritz'
b=d['Season']=='Winter'
d[a & b]

        Season          City
935     Winter  Sankt Moritz
1187    Winter  Sankt Moritz
1439    Winter  Sankt Moritz
1454    Winter  Sankt Moritz
2707    Winter  Sankt Moritz
2708    Winter  Sankt Moritz
5053    Winter  Sankt Moritz
5054    Winter  Sankt Moritz
5132    Winter  Sankt Moritz
5332    Winter  Sankt Moritz
5333    Winter  Sankt Moritz
5334    Winter  Sankt Moritz
5478    Winter  Sankt Moritz
5514    Winter  Sankt Moritz
5702    Winter  Sankt Moritz
5703    Winter  Sankt Moritz
5704    Winter  Sankt Moritz
6591    Winter  Sankt Moritz
6673    Winter  Sankt Moritz
6918    Winter  Sankt Moritz
6991    Winter  Sankt Moritz
6992    Winter  Sankt Moritz
6993    Winter  Sankt Moritz
6994    Winter  Sankt Moritz
7133    Winter  Sankt Moritz
7143    Winter  Sankt Moritz
7144    Winter  Sankt Moritz
7345    Winter  Sankt Moritz
7346    Winter  Sankt Moritz
7852    Winter  Sankt Moritz
...        ...           ...
263150  Winter  Sankt Moritz
263151  Winter  Sankt Moritz
263153  Winter  Sankt Moritz
263154  Winter  Sankt Moritz
263155  Winter  Sankt Moritz
263555  Winter  Sankt Moritz
263562  Winter  Sankt Moritz
263654  Winter  Sankt Moritz
265212  Winter  Sankt Moritz
266685  Winter  Sankt Moritz
266686  Winter  Sankt Moritz
266687  Winter  Sankt Moritz
267059  Winter  Sankt Moritz
267067  Winter  Sankt Moritz
267321  Winter  Sankt Moritz
267322  Winter  Sankt Moritz
267323  Winter  Sankt Moritz
267324  Winter  Sankt Moritz
267622  Winter  Sankt Moritz
268246  Winter  Sankt Moritz
268311  Winter  Sankt Moritz
269613  Winter  Sankt Moritz
270251  Winter  Sankt Moritz
270252  Winter  Sankt Moritz
270351  Winter  Sankt Moritz
270713  Winter  Sankt Moritz
270714  Winter  Sankt Moritz
270863  Winter  Sankt Moritz
270881  Winter  Sankt Moritz
270882  Winter  Sankt Moritz

[1657 rows x 2 columns]

__10. What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?__

- 16
- 24
- 26
- 34

In [283]:
d=data[data['Year']==1995 ]
e=data[data['Year']==2016 ]

abs(d['Sport'].nunique()-e['Sport'].nunique())

34